.view-container {
  display: flex;
  min-height: 100vh;

  .aside-bar {
    max-width: 20vw;
    z-index: 1;
    box-shadow: 0px 0px 25px #3a3a3a3a;

    transform: translateX(-100%);
    transition: all ease 0.5s;
    opacity: 0;
    overflow: hidden;
    width: 0;

    &.active {
      width: 12.5rem;
      transform: translateX(0);
      opacity: 1;
      overflow: visible;
    }

    .aside-bar__logo {
      width: 100%;
      padding: 1rem;
      text-align: center;
      img {
        width: 70%;
      }
    }

    .nav {
      margin: 2rem 0;

      .nav__portada {
        background: var(--light-blue);
        background: linear-gradient(
          to right,
          var(--light-blue),
          var(--dark-blue)
        );
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 1rem;
        color: #fff;

        svg,
        p {
          color: #fff;
        }

        svg {
          font-size: 1.5rem;
        }
      }

      [ngbAccordion] {
        width: 100%;
      }

      [ngbAccordionItem] {
        border: none;

        [ngbAccordionCollapse] {
          border-radius: 1px solid red;
          [ngbAccordionBody] {
            display: flex;
          }
        }
      }

      [ngbAccordionButton] {
        background-color: transparent;
        display: flex;
        height: 3rem;
        column-gap: 0.5rem;
        color: var(--grey);
        font-size: 0.9rem;
        border-left: 0.3rem solid transparent;
        transition: border-left 0.4s ease;
        border-bottom: 0.1rem solid var(--light-grey);

        &[aria-expanded="true"]::after {
          transform: rotate(0deg);
        }

        &[aria-expanded="false"]::after {
          transform: rotate(-90deg);
        }

        .button-icon {
          transition: all 0.4s ease;
        }

        &:not(.collapsed) {
          box-shadow: 0 4px 8px #fafafa;
          border-left: 0.3rem solid var(--blue);
          box-shadow: 0 0.2rem 0.1rem var(--light-grey);
          p {
            color: var(--blue);
          }

          .button-icon {
            font-size: 1.2rem;
          }
        }
      }

      .nav__item-link {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
        color: var(--grey);
        padding-left: 2rem;
        font-size: 0.9rem;
        text-decoration: none;

        p {
          margin: 0;
        }
      }
    }
  }

  main {
    flex-grow: 1;
    background: var(--light-grey);
    transition: all ease 0.5s;

    header {
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.6rem;

      .menu-icon {
        color: var(--grey);
      }

      .user-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1.5rem;
      }

      .language {
        img {
          width: 1.5rem;
        }
      }

      .info {
        p {
          margin-bottom: 0;
        }

        .username {
          font-weight: bold;
          font-size: 0.75rem;
          color: var(--grey);
        }
        .email {
          font-size: 0.75rem;
        }
      }

      .all {
        margin-left: 0;
      }
    }

    .page-header {
      background-image: url("/assets/images/header_blue_bg.jpg");
      background-size: cover;
      min-height: 10rem;
      border-radius: 0 0 15px 15px;
      display: flex;
      align-items: center;
      padding: 2rem;

      .page-header__title {
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }

    .page-content {
      width: 95%;
      margin: auto;
      margin-top: -40px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
