.header {
  .btn-back {
    max-width: 5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    background-color: var(--blue);
  }

  .header__company {
    display: flex;
    align-items: center;

    img {
      width: 10rem;
      margin-right: 1.5rem;
    }

    .company-data {
      .company-title {
        color: var(--dark-grey);
        font-weight: 600;
        font-size: 1.7rem;
      }

      .company-link {
        text-decoration: none;
        color: var(--blue);
        font-size: 1rem;
        font-weight: 500;
      }

      .company-description {
        color: var(--grey);
        font-size: 1.2rem;
      }
    }
  }
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  .card {
    border: none;
    box-shadow: 0 0 0.1rem 0.1rem #e2e2e2;
    padding: 1rem;
    margin-top: 1.5rem;

    &:nth-child(1) {
      width: 30%;
    }
    &:nth-last-child(1) {
      flex-grow: 1;
    }

    .data-group {
      svg {
        color: var(--blue);
        margin-right: 0.5rem;
      }

      a,
      p {
        display: inline;
        text-decoration: none;
        color: var(--dark-grey);
        font-size: 0.9rem;
      }

      h3 {
        font-size: 1.2rem;
        color: var(--dark-grey);
        font-weight: 500;
      }
    }
  }
}

.card-box {
  padding: 2rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 20px -10px #3a3a3a;
  margin-bottom: 30px;
}

.content-card {
  ul {
    &.nav-tabs {
      border-bottom: 1px solid var(--grey);
    }

    li {
      .nav-link {
        position: relative;
        border: none;
        color: var(--grey);
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--light-grey);
        }

        &.active {
          color: var(--blue);
        }

        &.active::after {
          transform: scaleX(1);
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 100%;
          height: 3px;
          background: var(--blue);
          border-radius: 5px;
          transform-origin: center;
          transform: scaleX(0);
          transition: transform 0.5s;
        }
      }
    }
  }
}
