@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "bootstrap/scss/bootstrap";

:root {
  --light-grey: #efefef;
  --grey: #8a92a6;
  --dark-grey: #464863;
  --light-blue: #0063b9;
  --blue: #326eca;
  --dark-blue: #000428;
  --red: #e90000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

p {
  margin: 0;
  padding: 0;
}
